.app_galery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

    &_item {
        padding: 4px;
        text-align: center;
        border: 2px transparent solid;
    }

    &_item:hover {
        border-color: orange;
    }

    .app_galery_img {
        width: 200px;
        height: 200px;
       
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.center {
    text-align: center;
}