<h3 class="center">Memo</h3>
<div class="center margin-20"><button (click)="restart()">RESTART</button></div>
<div class="tablero">
    <ng-container *ngFor="let item of game; let index=index">
        <div class="tablero_item" (click)="card_clicked(index)">
            <img *ngIf="item.clicked" src="{{item.img}}" alt="{{item.name}}" />
            <img *ngIf="item.ticked" src="{{tick}}" alt="" />
            <img *ngIf="!item.ticked && !item.clicked" src="{{back}}" alt="" />
        </div>
    </ng-container>
</div>