<div>
    <label><span class="label_name">Rows:</span><input name="rows" type="number" [(ngModel)]="rows"></label>
    <label><span class="label_name">Columns:</span><input name="cols" type="number" [(ngModel)]="cols"></label>
    <button (click)="start()">START</button>
</div>
<table>
    <tr *ngFor="let item of game; let index=index">
        <td *ngFor="let item2 of item; let index2=index">
            <img *ngIf="!item2[1]" src="{{x}}" (click)="clicked(index, index2)" />
            <img *ngIf="!item2[0] && item2[1]" src="{{skull}}" />
            <img *ngIf="item2[0] && item2[1]" src="{{chest}}" />
        </td>
    </tr>
</table>